altgraph==0.17.5
certifi==2026.2.25
charset-normalizer==3.4.7
greenlet==3.4.0
idna==3.11
packaging==26.0
pefile==2024.8.26
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
PyQt6==6.11.0
PyQt6-Qt6==6.11.0
PyQt6-WebEngine==6.11.0
PyQt6-WebEngine-Qt6==6.11.0
PyQt6_sip==13.11.1
pywin32-ctypes==0.2.3
requests==2.33.1
setuptools==82.0.1
SQLAlchemy==2.0.49
typing_extensions==4.15.0
urllib3==2.6.3
